<?php
// Before removing this file, please verify the PHP ini setting `auto_prepend_file` does not point to this.
if (file_exists('{{ deploy_helper.new_release_path }}/{{ project_public_path }}/{{ project_plugins_path }}/wordfence/waf/bootstrap.php')) {
	if (! defined('WFWAF_LOG_PATH')) {
		define('WFWAF_LOG_PATH', '{{ deploy_helper.new_release_path }}/../../wflogs/');
	}
	include_once '{{ deploy_helper.new_release_path }}/{{ project_public_path }}/{{ project_plugins_path }}/wordfence/waf/bootstrap.php';
}
